<nav>
  <div class="site-title">
    <a href="/"><h1>Resourso</h1></a>
    <p>Resourso App</p>
  </div>
  <ul>
    <li><a href="/course/create">Add Course</a></li>
    <li><a href="/course">All Courses</a></li>
    <li><a href="#">Link2</a></li>
  </ul>
</nav>
